html, body {
    margin: 10;
    padding: 10;
}

.grid {
    margin: 0 auto;
    width: 420px;
    height: 420px;
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 15px;
    height: 15px;
}

.pac-dots {
    background-color: pink;
    border: 5px solid white;
    box-sizing: border-box; /* this puts the border on the inside */
}

.wall {
    background-color: coral;
}

.power-pellets {
    background-color: darkturquoise;
    border-radius: 7.5px;
}

.pacman {
    background-color: orange;
    border-radius: 7.5px;
    border: unset;
}

.ghost-lair {
    background-color: darkslategrey;
}